.wrapper {
  width: 960px;
  padding-top: 10%;
  margin: 0 auto;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  background: lightgrey;
  width: 100%;
  min-height: 318px;
}

.films {
  width: 30%;
}

.films_detail {
  width: 70%;
}

.btn {
  width: 100%;
}